<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:insert="~{fragments/head.html :: head}"></div>
<body>

<body class="bg-dark text-white py-5">

<div class="container py-5">
    <div class="row">
        <div class="col-md-2 text-center">
            <p><i class="fa fa-exclamation-triangle fa-5x"></i><br/>Status Code: 403</p>
        </div>
        <div class="col-md-10">
            <h2>OPPSSS!!!! Che disdetta...</h2>
            <h3>Mi spiace ma non hai sufficenti privilegi per accedere alla pagina richiesta!<br/>Accedi con un diverso utente</h3>
            <a class="btn btn-danger"  th:href="@{/login}">Torna al Login</a>
        </div>
    </div>
</div>


<div th:insert="~{fragments/foot.html :: foot}"></div>

</body>

</html>


