<!DOCTYPE HTML>

<!-- TODO: importo il namespace xml di thymeleaf  -->
<html xmlns:th="http://www.thymeleaf.org">



<!-- TODO: inserisco il blocco comune head  -->
<div th:insert="~{fragments/head.html :: head}"></div>

<body>



<!-- TODO: inserisco il blocco comune per la navbar  -->
<div th:insert="~{fragments/navbar.html :: navbar}"></div>
<div th:insert="~{fragments/jumbotron.html :: jumbotron}"></div>



<!--################################################################-->
<!--################################################################-->
<!-- TODO: Parte variabile -->
<!-- Form Login -->
<div class="container login-container">
    <div class="row">
        <div class="col-md-6 login-form">
            <h3>Login Form</h3>

            <form action="#" th:action="@{/autentica}" method="post">

                <div class="form-group">
                    <input type="text" class="form-control" name="name" id="name" placeholder="Nome Utente">
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                </div>

                <div class="form-group">
                    <input class="btn btn-outline-primary" type="submit">
                </div>

                <div class="form-group">
                    <a href="#" class="ForgetPwd">Password Dimenticata?</a>
                </div>


                <!-- Controllo di sicurezza per cross site request forgery                -->
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />

<!-- Controllo se la password inserita e' corretta. param.error è contenuto in  -->
                <th:block th:if="${param.error != null}">
                    <div class="alert alert-danger">
                        <p>Spiacente, la userid o la password sono errati!</p>
                    </div>
                </th:block>

        <!-- TODO: Se il parametro logout e' stato passato a questa pagina (logout!=null)
                   significa che e' stato richiesto di fare il logout. Il parametro logout=true
                   viene settato dal controller LogoutController
        -->
                <th:block th:if="${param.logout != null}">
                    <div class="alert alert-success">
                        <p>Logout eseguito con successo!</p>
                    </div>
                </th:block>

            </form>
        </div>
    </div>
</div>
<!--################################################################-->
<!--################################################################-->
<!--################################################################-->





<!-- TODO: inserisco un blocco comune per il foot -->
<div th:insert="~{/fragments/foot.html :: foot}"></div>
<p></p>
</body>
</html>